/* ------------------------------------ */
/* ------------------------------------ */
/*             STYLE GENERAL            */
/* ------------------------------------ */
/* ------------------------------------ */


body {
	padding : 0% ;
	margin : 0%;
}

h1 {
	text-align: center;
}

h2 {
	margin-left : 4%;
}


td, th {
	padding : 1%;
}


table {
	margin-left : calc( (100% - 85%) /2);
	width : 85%;
	border-collapse: collapse;
	text-align: center;
	border  : 2px solid #E9967A;
}


hr {
	margin : 3% 0 3% calc( (100% - 85%)/2 );

	width : 85%;

	border : none;
	border-top : 1px solid #E9967A;
}


th.nomModule { width : 20%; }

.total {
	border-left  : 2px solid #E9967A;
	border-right : 2px solid #E9967A;
}

td.total { background : white; }
.heure   { width : calc( 50%/7 ); }


tr.final    { border : 2px solid #E9967A; }
td.tdFinal { background : white; }

td.totalFinal {
	border-left : 2px solid #E9967A;
	background  : #E9967A;

	font-weight : bold;
}



/* ------------------------------------ */
/* ------------------------------------ */
/*          FICHE INTERVENANTS          */
/* ------------------------------------ */
/* ------------------------------------ */

table.statsIntervenants > tbody tr:nth-child(even), table.infosIntervenants > tbody tr:nth-child(even) {
	background : #FFDAB9;
}

table.statsIntervenants > tbody tr:nth-child(odd), table.infosIntervenants > tbody tr:nth-child(odd) {
	background : #FFFAF0;
}


table.statsIntervenants > thead tr, table.infosIntervenants > thead tr {
	background : #E9967A;
	color      : black;
}


table.statsIntervenants {
	width : 30%;
	text-align: center;

	float : left;

	margin : 0%;
}

table.tab1 { margin : 0% 5% 2% 20%; }
table.statsIntervenants td { width : 50%; }


.statsTotal td {
	border-top : 2px solid #E9967A;
	background : white;
}


/* ------------------------------------ */
/* ------------------------------------ */
/*             FICHE MODULES            */
/* ------------------------------------ */
/* ------------------------------------ */

table.infosModule > tbody tr:nth-child(even) {
	background : #8FBC8B;
}

table.infosModule > tbody tr:nth-child(odd) {
	background : #F5FFFA;
}


th.nomModule { width : 30%; }

table.infosModule > thead tr {
	background : #2E8B57;
	color      : white;
}